.idea/
lib/
algs4-data/

ch1/1.*
!ch1/1.*.cpp
!ch1/1.*.h
ch1/*
!ch1/*.cpp
!ch1/*.h


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
